*{
    box-sizing: border-box;
}
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    overflow: auto;
}
header{
    background-color: rgb(7, 122, 113);
    padding: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
    width: 100%;
}
nav{
    font-size: 14px;
    background-color: rgb(7, 122, 113) ;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}
section{
    float: none;
    width: 60%;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    color:black;
}
a:active{
    color: black;
}
ul li{
    list-style-type: none;
    padding-right: 34px;
}
.navegação{
    text-align: center;
    background-color: rgb(236, 59, 28);
    color: white;
    border: 4px solid black;
    margin: 20px;
    padding: 20px;
}
footer{
    background-color:rgb(7, 122, 113); 
}